## Postgres Configuration
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=example
POSTGRES_MAX_WAL_SENDERS=1
POSTGRES_MAX_REPLICATION_SLOTS=1
POSTGRES_DATA_DIR=./data/postgresql

## Zookeeper Configuration
ZOOKEEPER_PORT=2181

## Kafka Configuration
KAFKA_PORT=9092
# If you use Windows or Mac, set the following value to `host.docker.internal`.
# If you use Linux, set the following value with the IP address of `docker0` interface.
# You can check it with `ip addr` command.
KAFKA_ADVERTISED_HOST_NAME=172.17.0.1

## Connect Configuration
CONNECT_PORT=8083
CONNECT_CONFIG_STORAGE_TOPIC=storage_config
CONNECT_OFFSET_STORAGE_TOPIC=offset_storage_config
